@charset 'utf-8';
// 引入颜色文件
@import "./color.scss";
// 工具色
// h6颜色
$h6-color:$lightGrey;
// ul选中颜色
$ul-color:$light-brown;
// li颜色
$li-color:$font-color;

// 公共样式
.tfw-main {
    padding: 0 10px;

    a {
        text-decoration: none;
    }

    .tfw-top {
        justify-content: space-between;
        margin-bottom: 10px;
        height: 60px;

        h6 {
            line-height: 60px;
            margin: 0;
            font-size: 18px;
            color: $h6-color;
            font-weight: normal;
        }

        ul {
            margin: 0;
            justify-content: flex-end;

            li {
                a {
                    line-height: 60px;
                    padding: 20px 25px;
                    color: $h6-color;
                    margin-left: 2px;
                    box-sizing: border-box;
                }

                &:hover a {
                    color: $ul-color;
                    border-bottom: solid $ul-color 2px;
                }
            }
        }
    }

    .tfw-bot {
        margin-bottom: 60px;

        &>div {
            border-bottom: solid #e6e6e6 1px;
            margin-bottom: 20px;
            .l{
                p{
                    border-bottom: solid #C2c0c0c0 2px;
                }
            }
            .r {
                &>:nth-child(1) {
                    h3 {
                        margin-bottom: 25px;
                        font-size: 16px;
                        color: #333;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }

                    p {
                        font-size: 12px;
                        color: #999;
                        line-height: 24px;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }

            }
        }
    }

    .tfw-pages {
        ul {
            &>:nth-child(1) {
                a {
                    background-color: $ul-color;
                    color: white;
                }
            }

            &>:nth-child(n+1):hover {
                a {
                    background-color: $ul-color;
                    color: white;
                }
            }

            li {
                a {
                    padding: 10px 15px;
                    border: solid #e6e6e6 1px;
                    color: #333;
                    margin: 0 2px;
                    font-size: 14px;
                }

            }
        }

    }

}

// 大屏时
@media (min-width:992px) {
    .tfw-main {
        margin-top: 120px;

        .tfw-bot {
            &>div {
                display: flex;

                &:hover .l>div {
                    background-color: $ul-color;
                }

                .l {
                    width: 15%;
                    padding: 24px 0;

                    p {

                        display: inline-block;
                        font-size: 24px;
                        color: #999;
                    }

                    div {
                        background-color: black;
                        width: 30px;
                    }
                }

                .r {
                    width: 85%;
                    display: flex;

                    &>:nth-child(1) {
                        width: 70%;
                        padding: 24px 0;
                    }

                    &>:nth-child(2) {
                        width: 30%;
                        text-align: right;
                        padding: 0 0 20px;
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }

    }
}

// 中屏
@media (max-width:992px) and (min-width:768px) {
    .tfw-main {
        margin-top: 60px;

        .tfw-bot {
            &>div {
                display: flex;
                &:hover .l>div {
                    display: block;
                    background-color: rgb(209, 142, 18);
                }

                .l {
                    width: 20%;
                    padding: 26% 0 0;

                    p {
                        display: inline-block;
                        font-size: 35px;
                        color: $h6-color;
                        // border-bottom: solid #C2c0c0c0 2px;
                    }

                    div {
                        display: none;
                        width: 40px;
                        padding:5px;
                    }
                }

                .r {
                    width: 80%;

                    &>:nth-child(1) {
                        width: 100%;
                        padding: 24px 0;
                    }

                    &>:nth-child(2) {
                        width: 100%;
                        padding-bottom: 24px;

                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }


    }
}

// 小屏
@media (max-width:767px) {
    .tfw-main {
        margin-top: 60px;
        .tfw-bot {
            &>div {
                &:hover .l>div {
                    opacity: 1;
                    background-color: rgb(209, 142, 18);
                }

                .l {
                    width: 100%;
                    padding: 24px 0;

                    p {
                        display: inline-block;
                        font-size: 35px;
                        color: #999;
                    }

                    div {
                        opacity: 0;
                        width: 40px;
                        padding:5px;
                    }
                }

                .r {
                    width: 100%;

                    &>:nth-child(1) {
                        width: 100%;
                        padding: 24px 0;
                    }
                    &>:nth-child(2) {
                        width: 100%;
                        padding-bottom: 24px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .tfw-pages {
            ul {
                li {
                    a {
                        font-size: 14px;
                        padding: 5px 8px;
                        border: solid #e6e6e6 1px;
                        color: #333;
                        margin: 0 2px
                    }

                }
            }

        }
    }
}